* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
form,
textarea,
.form-field {
	font-family: 'Roboto', sans-serif;
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  flex-direction: column;
  grid-template-areas:
  "header"
  "navigation"
  "main";
}

main {
	display: grid;
	overflow: hidden;
}

/* header */
header {
  grid-area: header;
  display: flex;
	align-items: center;
	background-color: #7477bf;
	color: #fff;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
}

h1 {
	height: auto;
	width: auto;
	padding-left: 10px;
	font-size: 24px;
}

h3 {
	height: auto;
	width: auto;
	font-size: 20px;
}

.bell {
	height: auto;
	width: 20px
}

.bell:hover {
    background: lightblue;
    transition-duration: .4s;
		border-radius: 50%;
}

.pfp {
	 border-left: 2px solid lightgray;
	 height: 55px;
}

.profile-image {
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

.name {
	height: auto;
	width: auto;
	padding-right: 20px;
}

/* navigation */
nav {
	grid-area: navigation;
	width: 100%;
}

.nav-icons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 15px 0px 15px 30px;
}

.nav-icons svg {
	width: 40%;
	height: 40%;
}

.navigation {
	background-color: #484672;

}

/* header*/
main {
  grid-area: main;
}

.main-header {
	display: flex;
	flex-direction: row;
}

.dashboard {
	display: flex;
	flex-direction: row;
	height: auto;
	padding: 10px;
	justify-content: space-between;
}

.tab {
  background-color: #fafafa;
  border-bottom: 1px solid #c7c7c7;
  border-left: 1px solid #c7c7c7;
 	width: 60%;
  height: 2.8rem;
}

.alert-banner {
	display: flex;
	margin: 10px;
	background-color: #7477bf;
	color: white;
	border-radius: 5px;
	width: 300px;
}

.alert-banner-close {
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 36%;
  right: 8%;
}

/* charts */
.traffic,
.socials,
.mobile,
.daily {
	border-bottom: 1px solid lightgray;
	padding-bottom: 13px;
}

#daily-chart,
#mobile-chart {
	width: 45%;
	height: 45%;
}

.traffic-nav li:first-child {
    background-color: #78CF82;
    color: white;
    font-weight: 600;
		padding: 6px;
    border-radius: 0.5rem;
}

.traffic-header {
	padding-top: 20px;
	margin-left: 15px;
}

.traffic-nav {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 15px;
}

.daily {
	padding-top: 20px;
	padding-left: 15px;
}

.mobile {
	padding-top: 20px;
	padding-left: 15px;
}

/* social */
.social-container {
	display: flex;
	border: 2px solid darkgrey;
	border-radius: 0.5rem;
	height: 100px;
	padding: 8px;
	margin: 10px;
	align-items: center;
	color: gray;
	background-color: #f2eeee;
}

.social-container svg {
	display: block;
	background-color: #7477bf;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	padding: 15px;
	overflow: visible;
 }

 .social-header {
	 padding: 25px 0 15px 15px;
 }

.title {
	margin-left: 20px;
	color:#7477bf;
}

 .number {
	margin-left: 20px;
 	font-size: 36px;
 }

/* member and recent */
.member-container,
.recent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 10px 10px 10px;
	border-bottom: 1px solid lightgray;
}

.members-bio,
.recent-text {
	padding-top: 5px;
}

.members-and-activities {
	display: grid;
	grid-template-columns: 1fr;
}

a:link {
  text-decoration: none;
}

.members h3,
.activity h3,
.message h3,
.setting-header h3 {
	padding: 10px 0 5px 10px;
}

/* setting */
.form-field,
.form-area  {
	width: 90%;
	margin: 5px 30px 10px 30px;
	background-color: #f4f0f0
}

.form-field {
	height: 40px;
	border-radius: 0.5rem;
	padding-left: 5px;
}

.form-area {
	padding-left: 10px;
	padding-top: 5px;
	height: 80px;
	border-radius: 0.5rem;
}

.button-primary {
	margin: 5px 30px 10px 30px;
	background-color: #7477bf;
	color: white;
	height: 40px;
	border-radius: 0.5rem;
	width: 90%;
}

.settings {
	display: flex;
	flex-direction: column;
	margin: 15px;
}

.switch-light {
	margin-bottom: 20px;
}

.switch-light.switch-ios {
	display: flex;
	width: 100%;
	min-width: 100%;
	align-items: center;
}

.switch-ios.switch-light span {
	flex-basis: 100px;
}

.switch-ios.switch-light strong {
	flex-basis: 200px;
}

#save {
	width: 125px;
	height: 40px;
	margin-right: 10px;
}

#cancel {
	width: 125px;
	background-color: gray;
	border-color: #7477bf;
	color: white;
	height: 40px;
	margin-right: 10px;
	border-radius: 0.5rem;
}

.timezone-dropdown {
	margin-right: 20px;
}

.widget-container {
	width: 95%;
}

.widget-container-full {
	margin-left: 15px;
}


@media (min-width: 768px) {
	.grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
		"header header"
		"navigation main";
	}

main {
	display: grid;
	grid-template-columns: repeat(2, 1fr)
}

.main-header,
.alert-banner,
.traffic,
.social-stats,
.members-section,
.activity,
.message,
.settings-section {
	grid-column: 1/span 2;
}

/* header */
header {
	display: flex;
}

.bell {
	display: flex;
  height: 30px;
	width: 30px;
  margin-left: 350px;
}

.profile {
	padding-right: 5px;
}

.profile-image {
	height: 45px;
	width: 45px;
	border-radius: 50%;
}

.name {
	padding-right: 40px;
}

/* main */
.alert-banner {
	width: 93%;
}

.alert-banner-close {
  top: 33%;
}

/* charts */
.traffic-nav {
	display: flex;
	justify-content: flex-end;
	padding-top: 0;
}

.traffic-nav li {
	padding-left: 8px;
	padding-right: 8px;
	margin-right: 10px;
}

.traffic-header {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
}

.widget-container-full {
	width: 95%;
}

.widget-container-half {
	width: 40vw;
}

.daily {
	border-right: 1px solid lightgray;
	padding-right: 5px;
}

.mobile h3 {
	padding-left: 10px;
}

.daily,
.mobile {
	padding-bottom: 10px;
}

.mobile {
	margin-left: 0;
}

/* Navigation*/
.nav-icons {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 5px 5px 5px 5px;
}

.nav-icons svg {
	width: 50px;
	padding: 6px;
}

.tab {
 	width: 100%;
  height: 2.8rem;
}

/*Social*/
.socials {
	display: flex;
	flex-direction: row;
	justify-content: center;
 }

/*Memebers and recent*/
.member-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: left;
	padding: 30px 10px 10px 20px;
}

.members-bio {
	display: flex;
	align-items: center;
}

.members-text {
	padding-left: 15px;
}

.members-date {
  align-self: center;
}

.recent-container {
	display: flex;
	flex-direction: row;
	text-align: left;
}

.recent-text {
	margin-left: 10px;
}

.profile-image {
	width: 6rem;
	height: 6rem;
}

.messaging-settings {
	grid-column: 1;
}

.recent-container {
	padding-left: 30px;
}

/* settings */
.settings-section {
	grid-column: 1/ span 2;
}

.switch-ios.switch-light span {
	flex-basis: 100px;
}

.switch-ios.switch-light strong {
	flex-basis: 200px;
}

#save {
	width: 305px;
}

#cancel {
	width: 305px;
}
}


@media (min-width: 1024px) {
	.grid-container {
		grid-template-columns: 80px 1fr;
		grid-template-rows: auto;
		grid-template-areas:
		"header header"
		"navigation main"
		".memebers .message"
		".activity .settings"
}



header {
	display: flex;
	justify-content: space-evenly;
}

.bell {
  margin-left: 600px;
}

.profile-image {
	height: 55px;
	width: 55px;
	border-radius: 50%;
}

.name {
	padding-right: 40px;
	text-align: center;
}

.alert-banner-close {
  top: 19.5%;
}

.social-container {
	width: 90%;
}

.members-section,
.message {
	grid-column: 1/ span 1;
}

.activity,
.settings-section {
	grid-column: 2/ span 1;
}

.members-section {
	border-right: 1px solid lightgray;
}

.member-container {
	padding: 20px 20px 20px 20px;
	margin: 8px;
}

.recent-container {
  padding-bottom: 9px;
	margin: 8px;
}

.members-bio,
.recent-text {
	padding-top: 5px;
}

.message {
	border-right: 1px solid lightgray;
}

.message h3 {
	margin-bottom: 8px;
}

.form-field {
	margin-top: 2px;
}

.form-area {
	height: 105px;
}
#save,
#cancel {
	width: 42%;
}
}
